<!DOCTYPE html>
<html>
    <% if flash[:notice] %>
      <p id="successflush">
      <%= flash[:notice] %>
      </p>
    <% end %>
  <head>
    <title>WebCampBackendNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>